* {
    
    font-family: "Segoe UI",Arial,sans-serif;
}
body {
    background-color: darkgray;
}
div .controles{
    position: fixed;
}
div .menu_bar {
    display: inline-block;
    width: auto;
    right: 10%;
    border-radius: 50%;
    background: transparent;
    top: 1rem;
}
div .menu_bar a{
    
    display: inline-block;
    background-color: #ffffff;
    width: 90px;
    height: 40px;
    border: solid;
    border-color: #c5c5c5;
    border-width: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    color: black;
    padding-top: 5%;
    overflow: hidden;
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;

    
}
div .menu_bar a:hover{

    background-color: #428859cc;
    color: #ffffff;
}

div .menu_bar a:active{

    background-color: #1e9690b4;
    color: #c95f5f;
}
div .block{
    background-color: transparent;
    left: 50px;
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 2px dotted;
    display: inline-block;
    position: absolute;
    
  }
div .block .frente{
    
    display: inline-block;
    height:8.1rem;
    width:auto; 
    position: absolute;
    
}
.frente img{
    height: 100%;
    
} 
div .block .atras{
    display: inline-block;
    height:8.1rem;
    width:auto;
    position: absolute;
    margin-top: 50px;
}
.atras img{
    height: 100%;
}    
div .block .arriba{
    display: inline-block;
    width:8.1rem;
    height:auto;
    position: absolute;
}
.arriba img{
    width: 100%;
}  
div .block .abajo{
    display: inline-block;
    width:8.1rem;
    height:auto;
    position: absolute;
}
.abajo img{
    width: 100%;
    margin-left: 50px;
}    
h1{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 36px;
    color: whitesmoke;
    background-color: #a51f1f85;
}
h2{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 18px;
    color: rgb(104, 93, 93);
    background-color: #1f69a585;
}